.nav{
    background-color: transparent;
}

.new{
    padding-right: 2%;
}

.div1{
    padding-left: 110px;
    padding-top: 100px;
    color: #CD104D;
}

.h11{
    color:#9C2C77;
    font-weight:bolder ;
    font-size: 70px;
}

.h21{
    font-size: 50px;
}